include scripts
h2 Course Participation
- views = {}
- data.each { |activity| views[activity['date']] = activity['views'] }
- views = Hash[views.sort]
- participations = Hash.new(0)
- data.each { |activity| participations[activity['date']] = activity['participations'] }
- participations = Hash[participations.sort]
- v_p = [{name: 'Participations', data: participations}, {name: 'Views', data: views}]
- views_participation = {}
- data.each do |activity| \
    views_participation[activity['date']] = [activity['views'], activity['participations']] \
  end
- views_participation_dow = Hash.new { |hash, key| hash[key] = [] }
- views_participation.each do |date, _view_par| \
    dow = Date.parse(date).strftime('%A'); \
    views_participation_dow[dow] << views_participation[date]; \
  end
- views_by_day = {}
- participations_by_day = {}
- Date::DAYNAMES.each { |day| views_by_day[day] = 0; participations_by_day[day] = 0 }
- views_participation_dow.each do |day, view_par| \
    views_by_day[day] = views_participation_dow[day].map { |arr| arr[0] }.reduce(:+); \
    participations_by_day[day] = views_participation_dow[day].map { |arr| arr[1] }.reduce(:+); \
  end
div id='views-by-day'
div id='container'
div align='center'
  input type='radio' class='part_view' name='part-view' value='stacked' Stacked
  input type='radio' class='part_view' name='part-view' value='discrete' Discrete
  input type='radio' class='part_view' name='part-view' value='both' checked='true' Both
div id='column-chart-stacked'
  h3 Participations & Views (Stacked)
  == column_chart v_p, stacked: true
div id='column-chart-discrete'
  h3 Participations & Views (Discrete)
  == column_chart v_p, discrete: true
/ h3 Participations
/ == column_chart participations
/ h3 Views
/ == column_chart views

javascript:
  var sunday = JSON.parse("#{views_participation_dow['Sunday']}");
  var monday = JSON.parse("#{views_participation_dow['Monday']}");
  var tuesday = JSON.parse("#{views_participation_dow['Tuesday']}");
  var wednesday = JSON.parse("#{views_participation_dow['Wednesday']}");
  var thursday = JSON.parse("#{views_participation_dow['Thursday']}");
  var friday = JSON.parse("#{views_participation_dow['Friday']}");
  var saturday = JSON.parse("#{views_participation_dow['Saturday']}");
  var dow = JSON.parse("#{views_by_day.keys}".replace(/&quot;/g, '"').replace(/amp;/g, ''));
  var views_by_day = JSON.parse("#{views_by_day.values}");
  var participations_by_day = JSON.parse("#{participations_by_day.values}");
  $(function () {
    $('#container').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Course Participation versus Views by Day of Week'
        },
        subtitle: {
            text: 'These make no sense to me with the data I have'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Views'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Participation'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>Day of Week: {series.name}</b><br>',
                    pointFormat: '{point.x} views, {point.y} participations'
                }
            }
        },
        series: [{
            name: 'Sunday',
            color: 'red',
            data: sunday
        }, {
            name: 'Monday',
            color: 'orange',
            data: monday
        }, {
            name: 'Tuesday',
            color: 'yellow',
            data: tuesday
        }, {
            name: 'Wednesday',
            color: 'green',
            data: wednesday
        }, {
            name: 'Thursday',
            color: 'blue',
            data: thursday
        }, {
            name: 'Friday',
            color: 'indigo',
            data: friday
        }, {
            name: 'Saturday',
            color: 'violet',
            data: saturday
        }]
    });
  });
  
  $(function () {
    $('#views-by-day').highcharts({
        title: {
            text: 'Views & Participation by Day of Week',
            x: -20 //center
        },
        subtitle: {
            text: 'Aggregate Course Level Data',
            x: -20
        },
        xAxis: {
            categories: dow
        },
        yAxis: {
            title: {
                text: 'Views & Participation'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        // tooltip: {
        //     valueSuffix: '°C'
        // },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Views',
            data: views_by_day
        }, {
            name: 'Participations',
            data: participations_by_day
        }]
    });
  });

  var radios = document.getElementsByClassName('part_view'),
      stacked_div = document.getElementById('column-chart-stacked'),
      discrete_div = document.getElementById('column-chart-discrete');

  function changeChart() {
      "use strict";
      if (radios[0].checked == true) {
          stacked_div.style.display = 'inline';
          discrete_div.style.display = 'none';
      } else if (radios[1].checked == true) {
          stacked_div.style.display = 'none';
          discrete_div.style.display = 'inline';
      } else if (radios[2].checked == true) {
          stacked_div.style.display = 'inline';
          discrete_div.style.display = 'inline';
      }
  }

  var radio,
      idx;

  for (idx = 0; idx < radios.length; idx += 1) {
      radio = radios[idx];
      radio.onclick = changeChart;
  }
