- if @current_teacher
    markdown:
      ### Welcome | [Logout](/logout)
- else
    markdown:
      ### [Login with Gmail](#{GOOGLE_OAUTH}#{GOOGLE_PARAMS}&redirect_uri=#{request.base_url}/oauth2callback_gmail&scope=email)
