script src='/jquery.min.js'
script src='//code.highcharts.com/highcharts.src.js'
script src='//code.highcharts.com/highcharts-more.src.js'
script src='//code.highcharts.com/modules/heatmap.js'
script src='//code.highcharts.com/modules/exporting.js'
script src='/chartkick.js'
