.flash.notice {
  color: #0000C0;
  background-color: rgba(0, 0, 255, 0.3);
}

.flash.error {
  color: #C00000;
  background-color: rgba(255, 0, 0, 0.3);
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  padding: 5px 10px 5px 10px;
}
